<h1>About Us</h1>
<p>When studying news sharing on social media in the UK, researchers Andrew Chadwick and Cristian Vaccari state that “in today’s media systems people may be more likely to encounter false and misleading information on a daily basis.” The difference between trustworthy and untrustworthy news on public forums has become a frequently discussed and occasionally volatile topic over the last few years.

Social media is an almost unavoidable part of our society now—can it be a trusted news source? Not always. Here are some ways to differentiate between misinformation and disinformation on social media, identify “fake news,” and stay accurately informed.</p>